<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/index.css')}}">
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
        <title>System monitoring</title>
    </head>
    <body>
        <div>
            <h1>Table of records of group 00</h1>
            <table class="table_record"></table>
        </div>
    </body>
</html>